fastapi
uvicorn
IPython
boto3
Mangum
PyYAML
langchain
langchain-core
langchain-community
langchainhub
langchain-chroma
langchain-openai
langchain-experimental
langchain-text-splitters
langsmith
boto3
requests
requests-aws4auth
opensearch-py
elasticsearch
beautifulsoup4
openai
python-multipart
pillow
azure-storage-blob
azure-storage-blob
redis
PyPDF2
rank-bm25
PyMuPDF==1.24.14
python-docx
openpyxl
numpy==1.26.4
pyarrow
sqlglot
